input {
    keyboard {
        xkb { layout "gb"; }
        repeat-delay 200
        repeat-rate 40
    }

    mouse { accel-profile "flat"; }

    focus-follows-mouse max-scroll-amount="95%"
    warp-mouse-to-focus
}

output "DP-2" {
    mode "1920x1080"
    background-color "#00000000"
}

layout {
    gaps 0
    center-focused-column "never"
    focus-ring { off; }
    default-column-width { proportion 1.0; }
    empty-workspace-above-first
}

spawn-at-startup "keyd-application-mapper" "-d"
spawn-at-startup "sh" "-c" "swaybg -i ~/.dotfiles/wallpaper.jpg -m fill"
spawn-at-startup "xwayland-satellite"

environment { DISPLAY ":0"; }

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

workspace "programming"
workspace "info"
workspace "browser"
workspace "communication"

binds {
    Mod+Return { spawn "foot"; }
    Mod+D { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+P { focus-workspace "programming"; }
    Mod+I { focus-workspace "info"; }
    Mod+B { focus-workspace "browser"; }
    Mod+C { focus-workspace "communication"; }
    Mod+Shift+P { move-column-to-workspace "programming"; }
    Mod+Shift+I { move-column-to-workspace "info"; }
    Mod+Shift+B { move-column-to-workspace "browser"; }
    Mod+Shift+C { move-column-to-workspace "communication"; }

    Mod+Q { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Ctrl+J { move-workspace-down; }
    Mod+Ctrl+K { move-workspace-up; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+M { maximize-column; }
    Mod+E { expand-column-to-available-width; }
    Mod+F { fullscreen-window; }
    Mod+R { reset-window-height; }

    Mod+Space       { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

animations     { off; }
gestures       { hot-corners { off; }; }
overview       { workspace-shadow { off; }; }
hotkey-overlay { skip-at-startup; }
debug          { wait-for-frame-completion-in-pipewire; }

window-rule {
    match app-id="Nautilus"
    default-column-width { proportion 0.5; }
}
